*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: none;
}
header{
  background-image: url(../day.jpeg);
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: center;
}
.mainbox{
  
  height: 300px;
  width: 50vw;
  margin-top: 20vh;
 
}
.todo{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding: 10px 20px;
  color: aliceblue;
  background-color: darksalmon;
 }
.button{
  width: 80px;
  height: 35px;
  border-radius:7px;
  background-color: black;
}
.circle{
  display: flex;
  width: 20px;
  height:20px;
  border-radius:45%;
  background-color:crimson;
  align-self: center;
  margin: 6px;
}
.circle:hover{
  background-color:rgb(44, 210, 240);
  width: 70px;
  cursor: pointer;
  
}
/*  
@keyframes .circle:hover {
  0%{
    transform: translateY(3px);
  }
  25%{
    transform: translatey(0px);
  }
  50%{
    transform: translate(300px,300px);
  }
  75%{
    transform:translate(600px,0px);
  }
  100%{
    transform: translate();
  }

}
 */
 .add{
   background-color: dimgray;
 }
 .add input{
   padding:3%;
   width:86.8%;
   background-color:dimgray;
   border:none
   
 }
 .add input::placeholder{
   font-size: 15px;
   color: white;
 }
 .addbtn{
  width: 40px;
  height: 36px;
 }
 .addbtn:hover{
   cursor: pointer;
 }
 .allone{
   background-color: white;
   display: flex;
   justify-content: space-between;
   padding:10px 10px;
 
 }
 .list{
  display: flex;
  width: 48%;
  justify-content: space-between;
  
  
  
  
 }
 

footer{
  background-color: blanchedalmond;
  display: flex;
  height: 9vh;
  justify-content: space-between;
  /* two div in footer ome name and one social */
  align-items: center;
  position: fixed;
  bottom: 0;
 left: 0;
 right: 0;
 padding:10px 30px ;
}
.social{
  width: 100px;
  display: flex;
  justify-content:space-between;
}
img{
  width:1.5rem;
}

 